.title {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
}

.title.main {
    font-size: 40px;
    background-color: aqua;
}

.recipelist {
    font-family: Helvetica, Arial, sans-serif;
    background-color: aquamarine;
}

.recipeimagecontainer {
    display: flex;
    justify-content: center;
}

.recipeimage {
    width: 300px;
    height: auto;
}

.recipeinfo {
    font-family: Helvetica, Arial, sans-serif;
    background-color: aqua;
}

.recipeinfo p {
    margin-bottom: 0;
}

.infolistcontainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.infolist {
    display: flex;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
}

.infolist li {
    padding: 20px;
}

.ingredientslistcontainer {
    font-family: Helvetica, Arial, sans-serif;
    background-color: beige;
}

.stepscontainer {
    font-family: Helvetica, Arial, sans-serif;
    background-color: chocolate;
}